* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: rgb(216, 151, 12);
}

a {
  color: inherit;
  text-decoration: none;
}
.mainButton {
  background-color: green;
  width: 300px;
  height: 120px;
  border-radius: 20px;
  color: black;
  font-size: 25px;
  font-weight: bolder;
  border-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainButton:hover {
  transform: scale(1.2);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100vh;
  flex-direction: column;
}
.marketButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  height: 100vh;
  flex-direction: column;
}
.farmContainer {
  width: 100vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.farm {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 700px;
  height: 700px;
  background-color: rgb(172, 99, 31);
  transform: rotate3d(1, 0, 1, 45deg);
  border-radius: 30px;
}
.crop {
  justify-self: center;
  align-self: center;
  transform: rotate3d(0, 1, 1, -45deg);
  z-index: 2;
}
